*{
	margin: 0px;
	padding: 0px;
}

body{
	display: grid;
	align-items:center;
	grid-auto-columns: repeat(auto-fit, minmax(240px,1fr));
	grid-template-rows: auto; 
	background-color: #EDEDED;
}

.header img{
	clear: both;
}


.headings{
	text-align: center;
	margin-top: 60px;
}
.headings h1{
	margin-bottom: 60px;
	color: #FFFFFF;
}
 

.headings h3{
	
	color: #D2DCE4;
}
.headings h6{
	padding-bottom: 70px;
	font-size: 15px;
	color: #DFDFDF;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5),rgba(0,0,0,0.3) ), url(images/5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

}

section{
	margin-left: 70px;
	margin-right: 70px;
	font-family:'Roboto', sans-serif;
}

section a{
	color: darkblue;
}
section h2{
	text-decoration: underline;
}
section a:hover{
	color: red;
}

footer{
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/1.gif);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

}
footer h3{
	padding-top: 10px;
	color: white;
	text-align: center;
	padding-bottom: 0px;
	font-size: 30px;
}
footer h3:hover{
	color: #00B2FF;
}
footer img{
	border-radius: 80px;
	float: left;
	margin-left: 50px;
	max-width: 100%
}


footer p{

}
.author-info{
	padding-top: 20px;
}
.author-info img{
	margin-right: 30px;
}
.author-info p{
	color: white;
	padding-top: 20px;
	margin-right: 30px;
	text-align: justify;
}

.copyright{
	text-align: center;
	margin: 0px;
	padding-right: 30px;
	font-size: 13px;
}

.copyright a{
	float: right;
	margin-top: 20px;
	padding-bottom: -20px;
	text-decoration: none;
	color: #00FFE4;

}
.copyright a:hover{
	color: #A1E6FF;
}